body {
    background-color: orange;
    color: black;
    front-family: "Chakra petch" , sans-serif;
    margin: 0px;
}

header {
    border-bottom: solid 4px rgb(42,122,228);
    padding: 20pxfrot-size: 44px;
    color:b
}